{{ template "base/base.html" .}}
{{define "head"}}{{end}}
{{define "title"}}poutsa{{end}}
{{define "body"}}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Chart Data

                        </h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px;">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>
                {{range $index, $element := .Devices}}
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <h3><small>Device Name :{{$element.Name}} </small></h3>
                        <div id="temp_plot_0{{$index}}" class="demo-placeholder"></div>
                    </div>
                {{end}}
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <br/>

{{end}} <!--  end of body block -->

{{define "scripts"}}
    <!-- Create the charts script -->
    <script src="/static/js/create_charts.js"></script>

        {{range $index, $element := .Devices}}
            <script>
                createChart("{{$element.Name}}", "temp_plot_0{{$index}}");
            </script>
        {{end}}

    <script>
        $("#reportrange").on("apply.daterangepicker", function (ev, picker) {
            '{{range $index, $element := .Devices}}'
                console.log(picker.startDate.format('YYYY-MM-DD'), picker.endDate.format('YYYY-MM-DD'));
                createChartByDate("{{$element.Name}}", "temp_plot_0{{$index}}", picker.startDate.format('YYYY-MM-DD'), picker.endDate.format('YYYY-MM-DD'));
            '{{end}}'
        });
    </script>
{{end}}



